body {

  background-color: white;
}

.donation-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donation-form {
  position: absolute;
  min-height: 900px;
  width: 300px;
  top: calc(50% - 245px);
  left: calc(50% - 150px);
  z-index: 50;
}