:root {
  --fontColor: black;
  --blend: difference;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: fixed;
  background-color: black;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  position: fixed;
  width: auto;
  bottom: 5px;
  right: 1px;
  font-family: 'Helveesti Regular Italic';
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--fontColor);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  /* mix-blend-mode: var(--blend); */
}

.email {
  font-family: "Helveesti Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  color: var(--fontColor);
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--fontColor);
  width: 100%;
  padding: 0px;
  display: inline-block;
  /* mix-blend-mode: var(--blend); */
  transition: color 200ms ease-in-out;
}

.email:focus {
  outline: none;
  /* mix-blend-mode: normal; */
  color: black;
}

.email::placeholder {
  color: var(--fontColor);
}

.logo {
  position: absolute;
  top: 16px;
  left: calc(50% - 59.5px);
  width: 119px;
  z-index: 50;
  /* mix-blend-mode: var(--blend); */
}

.logo:hover {
  cursor: pointer;
}

.logo-img {
  width: 100%;

}

.newsletter {
  position: absolute;
  width: 726px;
  height: 40px;
  top: 50%;
  left: calc(50% - 363px);
}

.newsletter form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 16px;
}

.subscribe {
  font-family: "Helveesti Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  color: var(--fontColor);
  /* mix-blend-mode: var(--blend); */
  background: none;
  border: 1px solid var(--fontColor);
  border-radius: 0;
  display: inline-block;
  transition: background 200ms ease-in-out;
}

.subscribe:focus {
  background: white;
  color: black;
  border-radius: 0;
  border: 1px solid var(--fontColor);
  cursor: pointer;
  /* mix-blend-mode: normal; */
}

.subscribe:hover {
  background: white;
  color: black;
  border-radius: 0;
  border: 1px solid black;
  cursor: pointer;
  /* mix-blend-mode: normal; */
}

.video {
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  position: fixed;
  transition: opacity 2000ms ease-in-out;
}

@font-face {
  font-family: "Helveesti Regular";
  src: url(../../public/assets/helveesti-regular.woff);
}

@font-face {
  font-family: "Helveesti Regular Italic";
  src: url(../../public/assets/helveesti-regular-italic.woff);
}

@media screen and (max-width: 849px) {
  .description {
    bottom: 0px;
    left: 0px;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    text-align: justify;
    padding: 8px 12px;
  }

  .newsletter {
    width: 90%;
    left: 5%;
  }

  .newsletter form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 8px;
  }

}

@media screen and (max-width: 500px) {

  .container {
    height: 100dvh;
  }

  .description {
    bottom: 0px;
    left: 0px;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    text-align: left;
  }

  .email {
    display: block;
  }

  .email::placeholder {
    text-align: center;
  }

  .newsletter {
    width: 90%;
    left: 5%;
    top: calc(50% - 22px);
  }

  .newsletter form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 16px;
  }

  .subscribe {
    display: block;
  }
}