@font-face {
  font-family: "Helveesti";
  src: url(../../public/assets/helveesti-regular.woff);
}

@font-face {
  font-family: "Helveesti";
  src: url(../../public/assets/helveesti-regular-italic.woff);
  font-style: italic;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

form.report {
  border: 1px solid black;
  padding: 1rem;
  margin-top: 0.5rem;
  background: #e6e6e6;
}

.report-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.report-content {
  background: white;
  border: 1px solid black;
  width: 100%;
  max-width: 800px;
  font-family: 'Helveesti';
  position: relative;
  padding: 1rem;
  overflow: scroll;
}

.report-content p {
  margin-bottom: 0.125rem;
}

.report-header {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header-font);
  line-height: 1.3rem;
  color: black;
  margin-bottom: 0.5rem;
  text-align: justify;
  padding: .7rem 0rem;
  display: block;
  border-bottom: 1px solid black;
}

button.report {
  border: 1px solid black;
  background: white;
  padding: 0rem 0.5rem;
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header-font);
  color: black;
  background: var(--gray);
  text-align: center;
  transition: all ease-in-out 250ms;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

button.report:hover {
  cursor: pointer;
  background: black;
  color: white;
}

input[type="text"].report {
  background: lightgray;
  border: 1px solid lightgray;
  padding: 0.5rem 0.25rem;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 350px;
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  color: gray;
  transition: opacity ease-in-out 250ms;
}

input[type="email"].report {
  background: lightgray;
  border: 1px solid lightgray;
  padding: 0.5rem 0.25rem;
  display: block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 350px;
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  color: gray;
}

input[type="date"].report {
  background: lightgray;
  border: 1px solid lightgray;
  padding: 0.5rem 0.25rem;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 350px;
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  color: gray;
}

input[type="submit"].report {
  border: 1px solid black;
  background: white;
  padding: 0rem 0.5rem;
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header-font);
  color: black;
  text-align: center;
  transition: all ease-in-out 250ms;
}

input[type="submit"].report:hover {
  cursor: pointer;
  background: black;
  color: white;
}

input.report:focus {
  border: 1px solid black;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: black;
  /* Adds a subtle blue glow around the input */
}

textarea.report {
  background: lightgray;
  border: 1px solid lightgray;
  padding: 0.5rem 0.25rem;
  width: 100%;
  height: 100px;
  border: 1px solid lightgray;
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  resize: none;
  margin-bottom: 0.5rem;
}

textarea.report:focus {
  border: 1px solid black;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

select.report {
  background: lightgray;
  border: 1px solid lightgray;
  padding: 0.5rem 0.25rem;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 350px;
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  color: gray;
}

select.report:focus {
  border: 1px solid black;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: black;
  /* Adds a subtle blue glow around the input */
}

.sub-category {
  opacity: 1;
  transition: opacity ease-in 250ms;
}

.invisible {
  opacity: 0;
}

.category {
  display: flex;
  justify-content: flex-start;
}

.past-report {
  border: 1px solid black;
}

.author p {
  font-family: 'Helveesti';
  font-size: 0.7rem;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
  background-color: red;
  display: block;
}

.logo img {
  border: none;
}

.author {
  display: block;
  background-color: black;
  padding: 0;
  margin: 0;
}

.past-reports-container {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

.past-reports-container>*:last-child {
  margin-bottom: 0;
}