:root {
  --fontColor: white;
  --blend: difference;
  --blue: #25418F;
  --main-font: 0.9rem;
  --header-font: 1.1rem;
  --footnote: 0.65rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: var(--blue);
  overflow-x: hidden;
}

@font-face {
  font-family: "Helveesti";
  src: url(../../public/assets/helveesti-regular.woff);
}

@font-face {
  font-family: "Helveesti";
  src: url(../../public/assets/helveesti-regular-italic.woff);
  font-style: italic;
}

.home {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home p {
  font-family: "Helveesti";
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
}

.home a {
  display: block;
  height: 33%;
}

.home img {
  height: 100%;
}

.homeish {
  background: var(--blue);
  padding: 1rem 1rem 0 1rem;
  border: 1px solid white;
}



.lb {
  display: none;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bug {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 100;
  justify-content: center;
  padding-bottom: 1rem;
  bottom: 0;
}

.bug img {
  width: 33%;
}

.carousel-image:hover {
  cursor: pointer;
}

.carousel-image:focus {
  outline: none;
  border: none;
}

.carousel-image:focus-visible {
  outline: none;
}

.contact-left {
  padding-right: 24px;
}

.contact-left p {
  text-align: left !important;
}

.contact-right {
  text-align: left !important;
}

.copy {
  padding: 1rem 0.5rem 0.2rem 0.5rem;
  overflow: scroll;
  height: calc(100dvh - 71px);
}

.copy::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.copy::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.copy img {
  width: 100%;
}

.donation-form-container {
  position: fixed;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  top: 49px;
  height: calc(100vh - 93px);
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: scroll;
}

.event {
  margin-bottom: 1rem;
}


.event-info {
  margin: 0.5rem 0rem;
}

.event-link {
  padding: 0.25rem;
  border: 1px solid white;
  color: white !important;
  text-align: center;
  transition: all ease-in-out 200ms;
  margin-top: 0.5rem;
}

.event-link:hover {
  background: white;
  color: black !important;
  cursor: pointer;
}

.project-button {
  padding: 0.25rem;
  border: 1px solid white;
  text-align: center;
  transition: all ease-in-out 200ms;
  width: auto;
  display: inline-block;
}

.project-button:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.event a {
  text-decoration: none;
  color: black;
}

.event img {
  width: 100%;
  background: var(--blue);
  margin-bottom: 0.25rem;
  border: 1px solid black;
  opacity: 0.8;
  transition: opacity ease 250ms;
}

.event img:hover {
  opacity: 1;
}

.event span {
  font-family: "Helveesti";
  font-size: var(--main-font);
  display: block;
  margin-bottom: 0rem;
  color: white;
}

.event h1 {
  font-size: var(--header-font);
}

.event h1 a {
  color: white;
  text-decoration: underline;
  transition: color ease 250ms;
}

.event h1 a:hover {
  text-decoration: underline;
  color: black;

}

.footer {
  position: fixed;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: var(--blue);
  border-top: 1px solid black;
  z-index: 100;
}

.footer p {
  font-family: "Helveesti";
  font-size: var(--footnote) !important;
  color: white;
  margin-top: 2px;
}

.footer p a {
  text-decoration: none;
  color: black;
}

.footer p a:hover {
  text-decoration: none;
  color: white;
  transition: color ease-in-out 200ms;
}

.footnotes {
  position: relative;
  top: -1px;
  height: calc(100dvh - 70px);
  overflow: scroll;
  padding: 1rem 1rem 0rem 0rem;
  scrollbar-color: transparent transparent;
  margin: 0;
  background: none;
}

.footnotes::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.footnotes::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.footnote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: auto;
  margin-bottom: 1rem;
}

.footnote img {
  width: 100%;
  cursor: pointer;
}

.footnote-number {
  vertical-align: super;
  font-size: var(--footnote);
  line-height: 0;
}

.footnote-text {
  font-family: "Helveesti";
  font-size: var(--footnote);
  color: white;
  transition: color ease-in-out 100ms;
  display: block;
  text-align: justify;
}

.footnote-text a {
  color: white;
  text-decoration: underline;
  transition: color ease-in-out 100ms;
}

.footnote-text a:hover {
  color: black;
  text-decoration: underline;
}

.footnote-text-link {
  font-family: "Helveesti";
  font-size: var(--footnote);
  color: white;
  transition: color ease-in-out 100ms;
  padding-bottom: 4px;
  display: block;
  text-align: left;
}

.footnote-text-link:hover {
  cursor: pointer;
  color: black;
}


.logo {
  width: 120px;
}

.logo-sticky {
  position: absolute;
  width: 100%;
  top: calc(50dvh - 60px);
  text-align: center;
  z-index: 100;
  mix-blend-mode: normal;
}

.logo-fixed {
  position: fixed;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 0;
  transform: none;
  z-index: 50;
  mix-blend-mode: overlay;
}

.main {
  position: relative;
  width: 100vw;
}

.masthead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.masthead p {
  font-size: 0.7rem !important;
  text-align: left !important;
}

.modal {
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
}

.modal-close {
  position: absolute;
  z-index: 110;
  top: 1.75rem;
  right: 1.75rem;
  font-family: "Helveesti";
  font-size: var(--main-font);
  color: var(--black);
  transition: color ease 250ms;
}

.modal-close:hover {
  cursor: pointer;
  color: black;
}

.modal-content {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content img {
  min-height: 100%;
  min-width: 100%;
}

.navbar {
  position: fixed;
  z-index: 100;
  padding: 0.75rem 2rem 0.75rem 1.2rem;
  top: 0;
  z-index: 50;
  background-color: var(--blue);
  display: flex;
  justify-content: flex;
  width: 100vw;
  gap: 2rem;
  border-bottom: 1px solid black;
}


.navbar-item {
  font-family: "Helveesti";
  font-size: var(--header-font);
  color: white;
  display: inline;
  width: fit-content;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.navbar-item a:hover {
  color: black;
  text-decoration: none;
}

.navbar-item.selected {
  color: black !important;
}

.email {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1rem;
  color: white;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0px;
  display: inline-block;
  transition: color 200ms ease-in-out;
}

.email:focus {
  outline: none;
  /* mix-blend-mode: normal; */
  color: black;
}

.email::placeholder {
  color: black;
}

.newsletter form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 0.5rem;
  margin-bottom: 1rem;
}

.subscribe {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  /* line-height: 1.3rem; */
  padding: 0.25rem;
  color: black;
  background: none;
  border: 1px solid black;
  display: inline-block;
  transition: background 200ms ease-in-out;
}

.subscribe:focus {
  background: black;
  color: white;
  cursor: pointer;
  /* mix-blend-mode: normal; */
}

.subscribe:hover {
  background: black;
  color: white;
  cursor: pointer;
  /* mix-blend-mode: normal; */
}

.project img {
  width: 100%;
  margin-bottom: 1rem;
}

.project img:hover {
  cursor: pointer;
  mix-blend-mode: overlay;
}

.projects {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects-left {
  padding-right: 0.5rem;
}

.projects-right {
  padding-left: 0.5rem;
}

.project-title {
  text-align: center !important;
  font-family: "Helveesti";
  font-size: 1rem;
  line-height: 0.5rem !important;
  /* margin-bottom: 1rem; */
  color: black;
  transition: color ease-in-out 100ms;
}

.project-title a {
  text-decoration: none !important;
  color: black !important;
}

.project-title a:hover {
  text-decoration: none !important;
  color: black !important;
}

.section {
  display: grid;
  width: 100vw;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
  margin-top: 44px;
  padding: 0rem 0.7rem 0rem 0.7rem;
  height: calc(100dvh - 44px);
  position: fixed;
}

.section h1 {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--header-font);
  line-height: 1.3rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.section h1 a {
  text-decoration: none !important;
}


.section p {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  line-height: 1.3rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: justify;

}

.section p.italic {
  font-style: italic;
}

.section p a {
  color: white;
  text-decoration: underline;
  transition: color ease-in-out 100ms;
}

.section p a:hover {
  color: black;
  text-decoration: underline;
}


.section ul {
  list-style-type: none;
  margin-bottom: 1rem;
}

.section li {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  line-height: 1.3rem;
  color: white;
}

.section li a {
  color: black;
  text-decoration: underline;
  transition: color ease-in-out 100ms;
}

.section li a:hover {
  color: white;
  text-decoration: underline;
}

.section-left-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-right {
  padding-left: 1.5rem;
}

.title {
  font-style: italic;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  overflow: hidden;
}


/* MOBILE RULES */
@media screen and (max-width: 800px) {
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home {
    width: 100dvw;
    height: 100dvh;
    padding: 0rem 5rem;
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }

  .home p {
    font-size: var(--header-font);
    text-align: left;
    color: black;
  }

  .home a {
    text-decoration: underline;
    color: black;
    transition: color ease 250ms;
  }

  .home a:hover {
    color: white;
  }

  .lb {
    display: block;
  }

  .bug {
    position: fixed;
    bottom: 0;
    right: 6.5%;
    width: 70px;
    display: none;
    z-index: 100;
  }

  .contact-left {
    padding-right: 24px;
  }

  .contact-left p {
    text-align: left !important;
  }

  .contact-right {
    text-align: left !important;
  }

  .project img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .project img:hover {
    cursor: pointer;
    mix-blend-mode: overlay;
  }

  .projects {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects-left {
    padding-right: 0.5rem;
  }

  .projects-right {
    padding-left: 0.5rem;
  }

  .project-title {
    text-align: center !important;
    font-family: "Helveesti";
    font-size: 1rem;
    line-height: 0.5rem !important;
    /* margin-bottom: 1rem; */
    color: black;
    transition: color ease-in-out 100ms;
  }

  .project-title a {
    text-decoration: none !important;
    color: black !important;
  }

  .project-title a:hover {
    text-decoration: none !important;
    color: black !important;
  }

  .email {
    font-family: "Helveesti";
    font-style: normal;
    font-weight: 400;
    font-size: var(--header-font);
    line-height: 1rem;
    color: white;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0px;
    display: inline-block;
    transition: color 200ms ease-in-out;
  }

  .email:focus {
    outline: none;
    /* mix-blend-mode: normal; */
    color: black;
  }

  .email::placeholder {
    color: black;
  }

  .newsletter {}

  .newsletter form {
    display: flex;
    margin-bottom: 1rem;
  }

  .subscribe {
    font-family: "Helveesti";
    font-style: normal;
    font-weight: 400;
    font-size: var(--header-font);
    /* line-height: 1.3rem; */
    padding: 0.25rem;
    color: black;
    border: 1px solid black;
    display: inline-block;
    transition: background 200ms ease-in-out;
  }

  .subscribe:focus {
    background: black;
    color: white;
    cursor: pointer;
    /* mix-blend-mode: normal; */
  }

  .subscribe:hover {
    background: black;
    color: white;
    cursor: pointer;
    /* mix-blend-mode: normal; */
  }

  .event {
    margin-bottom: 1rem;
  }

  .event-link {
    padding: 0.25rem;
    border: 1px solid white;
    color: white !important;
    text-align: center;
    transition: all ease-in-out 200ms;
    margin-top: 0.25rem;
  }

  .event-link:hover {
    background: white;
    color: black;
    cursor: pointer;
  }

  .event a {
    text-decoration: none;
    color: black;
  }

  .event img {
    width: 100%;
  }

  .event span {
    font-family: "Helveesti";
    font-size: 0.7rem;
    display: block;
    margin-bottom: 0rem;
  }


  .footer {
    position: relative;
    padding: 1.5rem 0rem 0.5rem 0rem;
    width: 100vw;
    max-height: 55px;
    display: flex;
    justify-content: center;
  }

  .footer p {
    font-family: "Helveesti";
    font-size: var(--footnote) !important;
  }

  .footer p a {
    text-decoration: none;
    color: black;
  }

  .footer p a:hover {
    text-decoration: none;
    color: white;
    transition: color ease-in-out 200ms;
  }

  .footnotes {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    top: 0;
    background: none;
    height: auto;
    padding-right: 1.5rem;
  }

  .footnote {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: auto;
  }

  .footnote img {
    width: 100%;
    display: none;
  }

  .footnote-number {
    vertical-align: super;
    font-size: var(--footnote);
    line-height: 0;
  }

  .footnote-text {
    font-family: "Helveesti";
    font-size: var(--footnote);
    color: black;
    transition: color ease-in-out 100ms;
    display: block;
    text-align: justify;
  }

  .footnote-text a {
    color: black;
    text-decoration: underline;
    transition: color ease-in-out 100ms;
  }

  .footnote-text a:hover {
    color: white;
    text-decoration: underline;
  }

  .footnote-text-link {
    font-family: "Helveesti";
    font-size: var(--footnote);
    color: black;
    transition: color ease-in-out 100ms;
    padding-bottom: 4px;
    display: block;
    text-align: left;
  }

  .footnote-text-link:hover {
    cursor: pointer;
    color: white
  }


  .logo {
    width: 120px;
  }

  .logo-sticky {
    position: absolute;
    width: 100%;
    top: calc(50dvh - 60px);
    text-align: center;
    z-index: 100;
    mix-blend-mode: normal;
  }

  .logo-fixed {
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 0;
    transform: none;
    z-index: 50;
    mix-blend-mode: overlay;
  }

  .main {
    position: relative;
    width: 100vw;
    height: fit-content;
  }

  .masthead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .masthead p {
    font-size: 0.7rem !important;
    text-align: left !important;
  }

  .modal {
    height: 100vh;
    width: 100vw;
    background: red;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
  }

  .modal-close {
    position: absolute;
    z-index: 110;
    top: 1.75rem;
    right: 1.75rem;
    font-family: "Helveesti";
    font-size: 1.79rem;
    color: var(--black);
    transition: color ease-in-out 100ms;
  }

  .modal-close:hover {
    cursor: pointer;
    color: white;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content img {
    min-height: 100%;
    min-width: 100%;
  }

  .navbar {
    position: sticky;
    z-index: 100;
    padding: 0.75rem;
    top: 0;
    z-index: 50;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    gap: 0.5rem;
    border-bottom: 1px solid black;
  }


  .navbar-item {
    font-family: "Helveesti";
    font-size: var(--main-font);
    color: var(--black);
    display: inline;
    width: fit-content;
  }

  .navbar-item a {
    color: black;
    text-decoration: none;
  }

  .navbar-item a:hover {
    color: white;
    text-decoration: none;
  }

  .section {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    background-color: var(--blue);
    padding: 0.75rem 0.7rem 0rem 0.7rem;
    min-height: calc(100dvh - 93px);
  }

  .section h1 {
    font-family: "Helveesti";
    font-style: normal;
    font-weight: 400;
    font-size: var(--header-font);
    line-height: 1.3rem;
    color: black;
    margin-bottom: 0.5rem;
    text-align: justify;
  }


  .section p {
    font-family: "Helveesti";
    font-style: normal;
    font-weight: 400;
    font-size: var(--main-font);
    line-height: 1.3rem;
    color: black;
    margin-bottom: 1rem;
    text-align: justify;
    padding-right: 1.5rem;

  }


  .section p.italic {
    font-style: italic;
  }

  .section p a {
    color: black;
    text-decoration: underline;
    transition: color ease-in-out 100ms;
  }

  .section p a:hover {
    color: white;
    text-decoration: underline;
  }


  .section ul {
    list-style-type: none;
    margin-bottom: 1rem;
  }

  .section li {
    font-family: "Helveesti";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    color: black;
  }

  .section li a {
    color: black;
    text-decoration: underline;
    transition: color ease-in-out 100ms;
  }

  .section li a:hover {
    color: white;
    text-decoration: underline;
  }

  .section-left-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .section-right {
    padding-left: 1.5rem;
  }

  .selected {
    color: white !important;
  }

  .video-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
  }

}