:root {
  --fontColor: black;
  --blend: difference;
  --avocado: #D6BA94;
  --green: #5F733A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: var(--avocado);
  overflow-x: hidden;
}

@font-face {
  font-family: "Helveesti";
  src: url(../../public/assets/helveesti-regular.woff);
}

@font-face {
  font-family: "Helveesti";
  src: url(../../public/assets/helveesti-regular-italic.woff);
  font-style: italic;
}

.background-video {
  min-height: 100%;
}

.contact-left {
  position: relative;
  display: inline;
  float: left;
  width: 50%;
  padding-right: 24px;
}

.contact-right {
  position: relative;
  display: inline;
  float: right;
}

.footnote {
  width: 100%;
  min-height: 144px;
  margin-bottom: 24px;
}

.footnote img {
  width: 100%;
}

.footnote-number {
  vertical-align: super;
  font-size: 0.75rem;
  line-height: 0;
}

.footnote-text {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: black;
  transition: color ease-in-out 100ms;
  padding-bottom: 4px;
  display: block;
}

.footnote-text a {
  color: black;
  text-decoration: underline;
  transition: color ease-in-out 100ms;
}

.footnote-text a:hover {
  color: white;
  text-decoration: underline;
}

.footnote-text-link {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: black;
  transition: color ease-in-out 100ms;
  padding-bottom: 4px;
  display: block;
}

.footnote-text-link:hover {
  cursor: pointer;
  color: white
}


.logo {
  width: 120px;
}

.logo-sticky {
  position: absolute;
  width: 100%;
  top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  z-index: 50;
}

.logo-fixed {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 24px;
  left: 0;
  margin-top: 0;
  transform: none;
  z-index: 50;
}

.main {
  position: relative;
  width: 100vw;
  height: fit-content;
}

.navbar {
  position: sticky;
  z-index: 100;
  padding: 1.5rem;
  height: 144px;
  top: 0;
  z-index: 50;
}

.navbar ul {
  list-style-type: none;

}

.navbar li {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--black);
  display: inline;
  padding-right: 1.5rem;

}

.navbar li a {
  color: black;
  text-decoration: none;
}

.navbar li a:hover {
  color: white;
  text-decoration: none;

}

.section {
  display: grid;
  width: 100vw;
  grid-template-columns: 6fr 1fr 1fr;
  background-color: var(--avocado);
  padding: 184px 24px 60px 24px;
  min-height: 100vh;
}

.section p {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
  margin-bottom: 24px;
}


.section p.italic {
  font-style: italic;
}

.section p a {
  color: black;
  text-decoration: underline;
  transition: color ease-in-out 100ms;
}

.section p a:hover {
  color: white;
  text-decoration: underline;
}


.section ul {
  list-style-type: none;
}

.section li {
  font-family: "Helveesti";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: black;
}

.section li a {
  color: black;
  text-decoration: underline;
  transition: color ease-in-out 100ms;
}

.section li a:hover {
  color: white;
  text-decoration: underline;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--avocado);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}